.image-container {
    overflow-x: hidden;
}

.image-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - (1.5rem * (var(--per-view) - 1))) / var(--per-view));
    grid-gap: 0;
    position: relative;
    left: 0;
    transition: .3s;
}

.image-wrapper img {
    width: 100%;
    display: block;
}

.image-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}